.flex-container{
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.information-section{
    width: 50%;
}

.information-section__main-heading{
    margin: 2rem 0 2rem 0;
    font-size: 3rem;
}
.information-section__address{
    padding: 1rem 0 0 1rem;
    font-weight: 600;
}

.information-section > img{
    width: 100%;
    height: 25rem;
}

.form-section{
    width: 35%;
    margin-top: 8rem;
    align-self: unset;
}

@media (max-width: 57.5rem){
    .flex-container{
        flex-direction: column;
        justify-content: center;
    }

    .information-section__main-heading{
        font-size: 2.5rem;
    }

    .information-section{
        width: 100%;
    }

    .form-section{
        width: 70%;
        margin-bottom: 2rem;
        align-self: center;
    }

}

@media(max-width: 40rem){
    .form-section{
        width: 100%;
    }
}