.images-container{
    column-count: 3;
}

.images-container img{
    width: 100%;
    object-fit: cover;
    padding-bottom: 3rem;
}

@media (max-width: 57.5rem){
    .images-container{
        column-count: 2;
    }

}

@media(max-width: 40rem){
    .images-container{
        column-count: 1;
    }
}