html{
    height: 100%;
}

body{
    min-height: 100%;
    max-width: 1440px;
    margin: auto;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    padding: 1rem 8rem 0 8rem;
    flex: 1;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Playfair Display", serif;
    color: #000;
}

p{
    font-family: "Lato", sans-serif;
}

@media (max-width: 64rem){
    main{
        padding: 1rem 4rem 0 4rem; 
    }
    
}

@media (max-width: 57.5rem){
    /* || GENERAL */
    body{
        padding-top: 5rem;
    }

}


@media(max-width: 40rem){
    /* || GENERAL */
    body{
        padding-top: 5rem;
    }
}

@media (max-width: 37.5rem){
    /* || GENERAL + MAIN HEADER */
    main{
        padding: 1rem 1rem 0 1rem; 
    }


}
